<%= form_for(@travel) do |f| %>
  <% if @travel.errors.any? %>
    <div class="alert alert-block alert-error fade in">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h2><%= pluralize(@travel.errors.count, "error") %> No se puede guardar este <b>viaje</b> porque:</h2>

      <ul>
      <% @travel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :destination_city %>
    <%= f.text_field :destination_city %>
  </div>
  <div class="field">
    <%= f.label :destination_country %>
    <%= f.text_field :destination_country %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br />
    <%= f.date_select :due_date, {:start_year => Time.now.year, :end_year => Time.now.year+10, :prompt => true, :order => [:day, :month, :year], :default => Time.now} %>
  </div>

  <div class="field">
    <%= f.label :n_days %>
    <%= f.number_field :n_days %>
  </div>
  <div class="field">
    <%= f.label :n_nights %>
    <%= f.number_field :n_nights %>
  </div>
  <div class="field">
    <%= f.label :extract %>
    <%= f.text_area :extract %>
  </div>
  <div class="field">
    <%= f.label :detail %>
    <%= f.text_area :detail %>
  </div>
  <div class="field">
    <%= f.label :number_of_seats_aviables %>
    <%= f.number_field :number_of_seats_aviables %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="field">
  	<%= f.label :hotel_id %>
  	<%= select("travel","hotel_id", list_all_hotels) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
