<h1>Listing travels</h1>

<table>
  <tr>
    <th>Destination city</th>
    <th>Destination country</th>
    <th>N days</th>
    <th>N nights</th>
    <th>Extract</th>
    <th>Detail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @travels.each do |travel| %>
  <tr>
    <td><%= travel.destination_city %></td>
    <td><%= travel.destination_country %></td>
    <td><%= travel.n_days %></td>
    <td><%= travel.n_nights %></td>
    <td><%= travel.extract %></td>
    <td><%= travel.detail %></td>
    <td><%= link_to 'Show', travel %></td>
    <td><%= link_to 'Edit', edit_travel_path(travel) %></td>
    <td><%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Travel', new_travel_path %>
