<h2>Registro de Ususarios</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  
    <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :autofocus => true %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br />
    <%= f.date_select :birth_date, {:start_year => Time.now.year, :end_year => Time.now.year-110, :prompt => true, :order => [:day, :month, :year], :default => Time.now} %>
  </div>
  <% if user_signed_in? %>
  <div class="field">
    <% if current_user.user_type == "empleado" %>
      <%= f.label :user_type %>
      <%= f.select :user_type, ["empleado","pasajero"] %>
    <% elsif current_user.user_type == "admin" %>
      <%= f.label :user_type %>
      <%= f.select :user_type, ["admin","empleado","pasajero"] %>
    <% else %>
      <%= f.hidden_field :user_type, :value => "pasajero" %>
    <% end %>
  </div>
  <% else %>
    <% if is_ther_any_admin %>
      <%= f.hidden_field :user_type, :value => "pasajero"%>
    <% else %>
      <%= f.hidden_field :user_type, :value => "admin"%>
    <% end %>
  <% end %>
  <div><%= f.submit "Crear" %></div>
<% end %>

<%= render "devise/shared/links" %>
