<p id="notice"><%= notice %></p>

<p>
  <b><%= t '.name'%>:</b>
  <%= @hotel.name %>
</p>

<p>
  <b><%= t '.country'%>:</b>
  <%= @hotel.country %>
</p>

<p>
  <b><%= t '.city'%>:</b>
  <%= @hotel.city %>
</p>

<p>
  <b><%= t '.number_of_rooms_single'%>:</b>
  <%= @hotel.number_of_rooms_single %>
</p>

<p>
  <b><%= t '.number_of_rooms_doubles' %>:</b>
  <%= @hotel.number_of_rooms_doubles %>
</p>

<p>
  <b><%= t '.number_of_rooms_married'%>:</b>
  <%= @hotel.number_of_rooms_married %>
</p>
<p>
	<b><%= t '.assets'%>:</b>
	<%= join_assets(@hotel)%>
</p>


<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
